.main {
	background-color: var(--main-background-color, inherit);
	color: var(--main-foreground-color, currentColor);
	grid-column: var(--main-grid-column, content-left / content-right);
	grid-row: var(--main-grid-row, main-top / main-bottom);
	margin-block: var(--main-margin-block, 0);
	margin-inline: var(--main-margin-inline, 0);
	padding-block: var(--main-padding-block, 0);
	padding-inline: var(--main-padding-inline, 0);
}
