.article .title {
	background-color: var(--article-title-background-color, inherit);
	color: var(--article-title-foreground-color, currentColor);
	font-size: var(--article-title-font-size, var(--step-3));
	margin-block: var(--article-title-margin-block, 0 var(--space-xs));
	margin-inline: var(--article-title-margin-inline, 0);
	padding-block: var(--article-title-padding-block, 0);
	padding-inline: var(--article-title-padding-inline, 0);
}
