---
import type { LogoProps } from "./types"

import generateShortId from "../../../utilities/generateShortId"
import mapAttributes from "../../../utilities/mapAttributes"

const {
	as: Element = "div",
	id = generateShortId(),
	link = {},
	logo,
	...attrs
} = Astro.props as LogoProps

const { href: _href, ...lAttrs } = link
const { pathname } = Astro.url
const isHome = pathname.length < 2

const attributes = mapAttributes(attrs, ["logo"])
const linkAttrs = mapAttributes(lAttrs, ["logo-link"])

const text = (await Astro.slots.render("default")) || logo
---

{
	isHome ? (
		<Element
			{...attributes}
			{id}
			set:html={text}
		/>
	) : (
		<a
			{...linkAttrs}
			href="/"
			title="To the home page."
		>
			<Element
				{...attributes}
				{id}
				set:html={text}
			/>
		</a>
	)
}
