.title-of-work.italicized span:first-child {
	font-style: italic;
	font-weight: normal;
}

.title-of-work.quoted span:first-child::after {
	content: "\201D";
}

.title-of-work.quoted span:first-child::before {
	content: "\201C";
}
